# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# macOS
.DS_Store

# Virtual environments
.bvhVenv/

# IDE
.vscode/
.idea/
